body {
    background: #111;
    color: #fff;
}

.flex-container {
    display: flex;
    position:relative;
}

#settingsMenu {
    display: none;
    top: 100px;
    left: 400px;
    position: absolute;
}

.currentSkinCanvasWrapper {
    width: 372px;
    height: 30px;
    position: absolute;
    left: 720px;
    top: 800px;
}

#currentSkinCanvas {
    background-color: transparent;
    width: 372px;
    height: 30px;
    display: none;
}

#my-canvas {
    background: #111;
}

.canvasWrapper {
	width: 650px;

    position: absolute;
    left: 50%;
    transform: translate(-50%);               
}

#options {
    text-align: center;
    top: 700px;
    position: relative;
}

.options-button {
    letter-spacing: 2px;
    border: 1px solid #ab2020;
    color: #fff;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: #111;
    width: 80px;
    height: 40px;
}

.options-button:hover {
    background: #ab2020;
    cursor: pointer;
}

#settings {
    border: 1px solid #0049d1;
    width: 100px;
}

#settings:hover {
    background: #0049d1;
}

#currentSkin {
    border: 1px solid #50fd2ecb;
    width: 150px;
}

#currentSkin:hover {
    background: #50fd2ecb;
}

#loadSkin {
    border: 1px solid #d32de9cb;
    width: 120px;
}

#loadSkin:hover {
    background: #d32de9cb;
}

#skinEditor {
    border: 1px solid #19ebcf;
    width: 130px;
}

#skinEditor:hover {
    background: #19ebcf;
}


#timer {
    color: grey;
    text-align: center;
    text-align: center;
}
