body {
    background: #111;
    color: #fff;
}

.gridContainer {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px 572px 1fr;
}

#settingsMenu {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: end;
    display: none;
}

.currentSkinCanvasWrapper {
    width: fit-content;
    height: 30px;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    margin-top: 2em;
    justify-self: center;
}

#currentSkinCanvas {
    background-color: transparent;
    width: 372px;
    height: 30px;
    display: none;
}

#gameCanvas {
    background: #111;
}

.gameCanvasWrapper {
	width: 650px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    justify-self: center;      
}

#optionsContainer {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-self: center;
    justify-self: center;
    display: block;
    display: flex;
    flex-direction: column;
}

#optionsContainer > oi {
    margin-top: 2em;
    align-self: center;
}

#options {
    display: block;
}

#optionsContainer li {
    display: inline;
}

#skinEditorOptions {
    display: none;
}

.options-button {
    width: fit-content;
    height: 40px;
    margin-left: auto;
    letter-spacing: 2px;
    border: 1px solid #ab2020;
    color: #fff;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: #111;
}

.options-button:hover {
    background: #ab2020;
    cursor: pointer;
}

#settings {
    border: 1px solid #0049d1;
}

#settings:hover {
    background: #0049d1;
}

#skinCustomiser {
    border: 1px solid #eb3477;
}

#skinCustomiser:hover {
    background-color: #eb3477;
}

#currentSkin {
    border: 1px solid #50fd2ecb;
}

#currentSkin:hover {
    background: #50fd2ecb;
}

#loadSkin {
    border: 1px solid #d32de9cb;
}

#loadSkin:hover {
    background: #d32de9cb;
}

#downloadSkin {
    border: 1px solid #ffb049cb;
}

#downloadSkin:hover {
    background: #ffb049cb;
}

#skinEditor {
    border: 1px solid #19ebcf;
}

#skinEditor:hover {
    background: #19ebcf;
}


#timer {
    color: grey;
    text-align: center;
    text-align: center;
}

#editorWrapper {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    width: 450px;
    height: 750px;
    display: none;
}

#editor {
    position: absolute;
    padding: 2vmax;
    background: #222;
    color: white;
    box-shadow: 0 13px 8px 3px rgba(40,40,40,0.3);
}
  
#editor canvas {
    margin-bottom: 1vmax;
}
  
#editor button {
    background: white;
    color: #222;
    border: 0;
    padding: .3em 1em;
}

.editorButtons {
    top: 590px;
    right: 130px;
    position: relative;
    letter-spacing: 2px;
    border: 1px solid #ab2020;
    color: #fff;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: #111;
    width: 80px;
    height: 40px;
    text-align: center;
}

.editorButtons:hover {
    background: #ab2020;
    cursor: pointer;
}

#currentEditedBlock {
    width: 120px;
    height: 60px;
    top: 600px;
    right: 300px;
    position: absolute;
}

.editorCanvasSkinBlock {
    top: 430px;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 1px;
}

.editorCanvasSkinBlock:hover {
    cursor: pointer;
}